<div class="container" ng-controller="EmployeeController" data-ng-init="getPositions(); getEmployee()">

	<ol class="breadcrumb">
	  	<li><a href="#">หน้าหลัก</a></li>
	  	<li><a href="#">ข้อมูลบุคลากร</a></li>
	  	<li class="active">แก้ไขข้อมูลบุคลากร</li>
	</ol>

	<div class="page-header">
  		<h2>{{ pageHeader }} <small>{{ pageTitle }}</small></h2>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form name="frmEditEmployee">
				<div class="form-group" ng-class="{ 'has-error' : frmEditEmployee.cid.$invalid}">
					<label class="control-label">เลขบัตรประชาชน</label>
					<input type="text" name="cid" ng-model="employee.cid" class="form-control" required ng-minlength="13">
					<div class="help-block" ng-show="frmEditEmployee.cid.$error.required">
						กรุณากรอกเลขบัตรประชาชนก่อน
					</div>
					<div class="help-block" ng-show="frmEditEmployee.cid.$error.minlength">
						กรุณากรอกเลขบัตรประชาชนให้ครบ 13 หลัก
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : frmEditEmployee.prefix.$invalid}">
					<label class="control-label">คำนำหน้า</label>
					<input type="text" name="prefix" ng-model="employee.prefix" class="form-control" required>
					<div class="help-block" ng-show="frmEditEmployee.prefix.$error.required">
						กรุณากรอกคำนำหน้าก่อน
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : frmEditEmployee.fname.$invalid}">
					<label class="control-label">ชื่อ</label>
					<input type="text" name="fname" ng-model="employee.fname" class="form-control" required>
					<div class="help-block" ng-show="frmEditEmployee.fname.$error.required">
						กรุณากรอกชื่อก่อน
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : frmEditEmployee.lname.$invalid}">
					<label class="control-label">สกุล</label>
					<input type="text" name="lname" ng-model="employee.lname" class="form-control" required>
					<div class="help-block" ng-show="frmEditEmployee.lname.$error.required">
						กรุณากรอกนามสกุลก่อน
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">วันเกิด</label>
					<input 	datetime-picker date-format="yyyy-MM-dd" date-only
							name="birthdate" 
							ng-model="employee.birthdate" 
							class="form-control" />
					<!-- <div class="help-block" ng-show="!employee.birthdate || frmEditEmployee.birthdate.$error.required">
						กรุณากรอกวันเกิดก่อน
					</div> -->
				</div>
				<div class="form-group" ng-class="{ 'has-error' : !employee.sex }">
					<label class="control-label">เพศ</label>
					<input type="radio" name="male" value="1" ng-model="employee.sex" ng-required="!employee.sex"> ชาย
					<input type="radio" name="female" value="2" ng-model="employee.sex" ng-required="!employee.sex"> หญิง
					<div class="help-block" ng-show="!employee.sex">
						กรุณาเลือกเพศก่อน
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error' : !employee.position}">
					<label class="control-label">ตำแหน่ง</label>
					<select name="position" class="form-control" ng-model="employee.position" required>
						<option value="" ng-selected="!employee.position">-- Please Select --</option>
						<option ng-selected="position.id == employee.position" 
								ng-repeat="position in positions" 
								ng-value="position.id">
							{{ position.position_name }}
						</option>
					</select>
					<div class="help-block" ng-show="!employee.position">
						กรุณาเลือกตำแหน่งก่อน
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ระดับตำแหน่ง</label>
					<select class="form-control" ng-model="employee.level">
						<option value="">ไม่ระบุ</option>
						<option value="ปฏิบัติงาน">ปฏิบัติงาน</option>
						<option value="ชำนาญงาน">ชำนาญงาน</option>
						<option value="ปฏิบัติการ">ปฏิบัติการ</option>
						<option value="ชำนาญการ">ชำนาญการ</option>
						<option value="ชำนาญการพิเศษ">ชำนาญการพิเศษ</option>
						<option value="เชี่ยวชาญ">เชี่ยวชาญ</option>
						<option value="เชี่ยวชาญพิเศษ">เชี่ยวชาญพิเศษ</option>
					</select>
				</div>

				<button class="btn btn-warning pull-right" ng-click="updateEmployee($event, frmEditEmployee)">แก้ไข</button>
			</form>
		</div>
	</div><!-- /.row -->

</div><!-- /.container -->