<div class="container" ng-controller="ReportController as pc" data-ng-init="getCheckinData(checkinMonth)">
	
	<ol class="breadcrumb">
	  	<li><a href="#">หน้าหลัก</a></li>
	  	<li class="active">รายการการลงเวลาปฏิบัติงานรายเดือน</li>
	</ol>
	
	<div class="row">
		<div class="col-md-12">

			<form class="form-inline">
				<div class="form-group">
					<label>ประจำเดือน : </label>
					<input 	datetime-picker date-format="yyyy-MM" date-only 
							ng-model="checkinMonth"
							class="form-control" />
					<button class="btn btn-primary" ng-click="getCheckinData(checkinMonth)">แสดง</button>
				</div>
			</form><br>

			<!-- <div id="pieContainer" style="width: 800px; height: 400px; margin: 0 auto; margin-top: 20px;"></div> -->
			
			<div class="table-responsive">
				<table class="table table-bordered" id="checkinData">
					<thead class="thead-dark">
						<tr>
							<th style="text-align: center; width: 4%;">ลำดับ</th>
							<th style="text-align: center; width: 15%;">เลข 13 หลัก</th>
							<th style="text-align: center;">ชื่อ-สกุล</th>
							<th style="text-align: center; width: 10%;">วันที่</th>
							<th style="text-align: center; width: 10%;">เวลาเข้า</th>
							<th style="text-align: center; width: 10%;">คะแนน</th>
							<th style="text-align: center; width: 5%;">รูป</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(index, checkin) in checkins">
							<td style="text-align: center;">{{ (index + 1) }}</td>
							<td style="text-align: center;">{{ checkin.emp_id }}</td>
							<td>{{ checkin.emp_name }}</td>
							<td style="text-align: center;">{{ checkin.checkin_date }}</td>
							<td style="text-align: center;">{{ checkin.timein }}</td>
							<td style="text-align: center;">{{ checkin.timein_score }}</td>
							<td style="text-align: center;">
								<a ng-click="pc.open(sm, checkin.timein_img)" style="cursor: pointer;">
									<i class="fa fa-camera"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<button ng-click="exportToExcel('#checkinData')" class="btn btn-success">Excel</button>
				</div>
			</div>
		</div>
	</div><!-- /.row -->

</div><!-- /.container -->